---
---
<!doctype html>
<html class="no-js" lang="">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-159873171-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-159873171-1');
  </script>

  <meta charset="utf-8">
  <title>Lars Rohwedder</title>
  <meta name="description" content="This is the personal website and cv of algorithms researcher Lars Rohwedder">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/normalize.css">
  <link rel="stylesheet" href="assets/css/main.css">

  <meta name="theme-color" content="#fafafa">
</head>

<body data-spy="scroll" data-target="#navbar" data-offset="0">
  <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <div class="jumbotron jumbotron-fluid mb-0 pt-3 pb-3">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center">
        <div class="p-2 order-1"></div>
        <div class="p-2 order-3">
          <img src="assets/img/photo.jpg" width="256px" height="256px" class="rounded-circle"></img>
        </div>
        <div class="p-2 order-2 flex-grow-1">
          <div class="d-flex justify-content-center">
            <div class="p-2"><h3>Lars Rohwedder</h3></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <nav id="navbar" class="navbar sticky-top navbar-expand navbar-light bg-light mb-3 border">
    <div class="container">
      <ul class="navbar-nav w-100 nav-justified text-nowrap" style="overflow-x: auto;">
          <li class="nav-item">
            <a class="nav-link" href="#about">about</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#research">research interests</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#publications">publications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#teaching">teaching</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">contact</a>
          </li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <div class="container pl-0 pr-0">
    <div class="alert alert-primary" role="alert">
      I am currently looking for a PhD student! For more information please see <a href="phd-vacancy.txt" class="link-primary">here</a>
.
    </div>
    </div>

    <h3 id="about" class="scroll-padding">About me</h3>
    <div class="container pl-0 pr-0">
      {% capture about %}{% include about.markdown %}{% endcapture %}
      {{ about | markdownify }}

      You can find my CV <a href="cv.pdf" target="_blank">here</a>.

      <div class="mt-3 card-columns">
        {% for card in site.data.gallery %}
        <div class="card">
          <img src="{{ card.image }}" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">{{ card.title }}</h5>
            <p class="card-text">{{ card.text }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <h3 id="research" class="scroll-padding">Research Interests</h3>
    <div class="container pl-0 pr-0">
      {{ site.data.cv.research }}
    </div>
    <h3 id="publications" class="scroll-padding">Publications</h3>
    <div class="container pl-0 pr-0">
      You can also find a list of my publications on <a class="badge badge-primary" href="{{ site.google-scholar }}" target="_blank">Google Scholar</a>
      or on <a class="badge badge-primary" href="{{ site.dblp }}" target="_blank">DBLP</a>.
      {% for paper in site.data.publications %}
      <div class="card w-100 mt-2 mb-2">
        <div class="card-body">
          <h5 class="card-title">{{ paper.title }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ paper.authors }} - {{ paper.conference }} {% if paper.comment %}- <p class="font-italic">{{paper.comment}}</p>{% endif %}
          </h6>
          {% if paper.preprint %}
          <a href="{{paper.preprint}}" target="_blank" class="card-link">Download</a>
          {% endif %}
          {% if paper.video %}
          <a href="{{paper.video}}" target="_blank" class="card-link">Video</a>
          {% endif %}
        </div>
      </div>
      {% endfor %}
      
    <h3 id="teaching" class="scroll-padding">Teaching</h3>
    <table class="table">
      <tbody>
      {% for teaching in site.data.teaching %}
        {% if teaching.hideonweb %}
        {% else %}
        <tr>
          <th scope="row">{{ teaching.translation }}</th>
          <td>{{ teaching.time }}</td>
          <td>{{ teaching.role }}</td>
        </tr>
        {% endif %}
      {% endfor %}
        <tr><th scope="row"></th><td></td><td></td></tr>
      </tbody>
    </table>
      
    </div>
    <h3 id="contact" class="scroll-padding">Contact</h3>
    <div class="container pl-0 pr-0">
      <dl class="row">
        {% if site.address %}
        <dt class="col-sm-3">Office</dt>
        <dd class="col-sm-9">
          <address>
            {% for line in site.address %}
              {{ line }} <br>
            {% endfor %}
          </address>
        </dd>
        {% endif %}
        {% if site.phone %}
        <dt class="col-sm-3">Phone</dt>
        <dd class="col-sm-9">{{ site.phone }}</dt>
        {% endif %}
        {% if site.email %}
        <dt class="col-sm-3">Email</dt>
        <dd class="col-sm-9">{{ site.email-uglyfied }}</dt> 
        {% endif %}
      </dl>
    </div>

  </div>
  
  <script src="assets/js/vendor/modernizr-3.8.0.min.js"></script>
  <script src="assets/js/vendor/jquery-3.4.1.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.4.1.min.js"><\/script>')</script>
  <script src="assets/js/plugins.js"></script>
  <script src="assets/js/main.js"></script>
  <script src="assets/js/bootstrap.bundle.min.js"></script>
</body>

</html>
