---
---
<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="manifest" href="assets/site.webmanifest">
  <link rel="apple-touch-icon" href="assets/img/icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/normalize.css">
  <link rel="stylesheet" href="assets/css/main.css">

  <meta name="theme-color" content="#fafafa">
</head>

<body data-spy="scroll" data-target="#navbar" data-offset="0">
  <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <div class="jumbotron jumbotron-fluid mb-0 pt-3 pb-3">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center">
        <div class="p-2 order-1"></div>
        <div class="p-2 order-3">
          <img src="assets/img/photo.jpg" width="256px" height="256px" class="rounded-circle"></img>
        </div>
        <div class="p-2 order-2 flex-grow-1">
          <div class="d-flex justify-content-center">
            <div class="p-2"><h3>Lars Rohwedder, ph.D.</h3></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <nav id="navbar" class="navbar sticky-top navbar-expand-lg navbar-light bg-light mb-3">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav w-100 nav-justified">
          <li class="nav-item">
            <a class="nav-link" href="#about">about</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#research">research interests</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#publications">publications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">contact</a>
          </li>
	    </ul>
	  </div>
    </div>
  </nav>

  <div class="container">
    <h3 id="about" class="pt-5">About me</h3>
    <div class="container pl-0 pr-0">
      {% capture about %}{% include about.markdown %}{% endcapture %}
      {{ about | markdownify }}
    </div>
    <h3 id="research" class="pt-5">Research Interests</h3>
    <div class="container pl-0 pr-0">
      {% capture research %}{% include research.markdown %}{% endcapture %}
      {{ research | markdownify }}
    </div>
  	<h3 id="publications" class="pt-5">Publications</h3>
    <div class="container pl-0 pr-0">
      You can also find a list of my publications on <a class="badge badge-primary" href="{{ site.google-scholar }}" target="_blank">Google Scholar</a>
      or on <a class="badge badge-primary" href="{{ site.dblp }}" target="_blank">DBLP</a>.
      {% for paper in site.data.publications %}
      <div class="card w-100 mt-2 mb-2">
        <div class="card-body">
          <h5 class="card-title">{{ paper.title }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ paper.authors }} - {{ paper.conference }}</h6>
          {% if paper.preprint %}
          <a href="{{paper.preprint}}" target="_blank" class="card-link">Download</a>
          {% endif %}
        </div>
      </div>
      {% endfor %}
      
    </div>
    <h3 id="contact" class="pt-5">Contact</h3>
    <div class="container pl-0 pr-0">
      <dl class="row">
        <dt class="col-sm-3">Office</dt>
        <dd class="col-sm-9">
          <address>
            {{ site.address }}
          </address>
        </dd>
        <dt class="col-sm-3">Phone</dt>
        <dd class="col-sm-9">{{ site.phone }}</dt>
        <dt class="col-sm-3">Email</dt>
        <dd class="col-sm-9">{{ site.email }}</dt> 
      </dl>
    </div>

  </div>
  
  <script src="assets/js/vendor/modernizr-3.8.0.min.js"></script>
  <script src="assets/js/vendor/jquery-3.4.1.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.4.1.min.js"><\/script>')</script>
  <script src="assets/js/plugins.js"></script>
  <script src="assets/js/main.js"></script>
  <script src="assets/js/bootstrap.bundle.min.js"></script>
  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('set','transport','beacon'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script>
</body>

</html>
