---
---

{% for course_hash in site.data.courses %}
  {% if course_hash[1].id == page.course_id %}
    {% assign course = course_hash[1] %}
  {% endif %}
{% endfor %}

<!doctype html>
<html class="no-js" lang="">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-159873171-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-159873171-1');
  </script>

  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.title }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/normalize.css">
  <link rel="stylesheet" href="/assets/css/native.css">
  <link rel="stylesheet" href="/assets/css/main.css">

  <meta name="theme-color" content="#fafafa">
</head>

<body data-spy="scroll" data-target="#navbar" data-offset="0">
  <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <div class="jumbotron jumbotron-fluid mb-0 pt-3 pb-3" style="{{ course.banner }}">
  </div>

  <nav id="navbar" class="navbar sticky-top navbar-expand navbar-light bg-light mb-3 border">
    <div class="container d-flex w-100 text-nowrap" style="overflow-x: auto;">
      <a class="navbar-brand mb-0 h1">{{ course.title }}</a>
      <ul class="navbar-nav nav-justified flex-grow-1">
      	{% for link in course.links %}
	  {% if link.dropdown %}
          <li class="nav-item dropdown">
  	      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ link.title }}</a>
	      <div class="dropdown-menu">
		{% for item in link.dropdown %}
		<a class="dropdown-item" href="{{ item.href }}">{{ item.title }}</a>
		{% endfor %}
	      </div>
	  </li>
	  {% else %}
          <li class="nav-item">
	    <a class="nav-link" href="{{ link.href }}">{{ link.title }}</a>
          </li>
	  {% endif %}
	{% endfor %}
      </ul>
    </div>
  </nav>

  <div class="container">
	  {{ content }}
  </div>
  
  <script src="/assets/js/vendor/modernizr-3.8.0.min.js"></script>
  <script src="/assets/js/vendor/jquery-3.4.1.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.4.1.min.js"><\/script>')</script>
  <script src="/assets/js/plugins.js"></script>
  <script src="/assets/js/main.js"></script>
  <script src="/assets/js/bootstrap.bundle.min.js"></script>
</body>

</html>
